# Credit Risk Resampling Techniques

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from pandas.api.types import is_numeric_dtype

In [3]:
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

In [4]:
from imblearn.over_sampling import RandomOverSampler
from imblearn.metrics import classification_report_imbalanced
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import ClusterCentroids
from imblearn.combine import SMOTEENN

# Read the CSV and Perform Basic Data Cleaning

In [5]:
columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [6]:
# Load the data
file_path = Path('../LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Encode Categorical Data

In [33]:
le = LabelEncoder()
for col in df.columns.values:
    if not is_numeric_dtype(df[col].dtype):
        df[col] = le.fit_transform(df[col]) 
df.head(50)

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,3,66000.0,1,2,1,0,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,0,0
1,25000.0,0.2000,929.09,1,105000.0,2,2,1,0,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,0,0
2,20000.0,0.2000,529.88,1,56000.0,2,2,1,0,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,0,0
3,10000.0,0.1640,353.55,3,92000.0,2,2,1,0,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,0,0
4,22000.0,0.1474,520.39,1,52000.0,0,2,1,0,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,0,0
5,25000.0,0.1797,634.43,1,90000.0,1,2,1,0,18.49,...,93.1,66.7,0.0,0.0,550717.0,418934.0,18800.0,369051.0,0,0
6,20400.0,0.2000,540.48,3,51315.0,1,2,1,0,25.63,...,100.0,0.0,1.0,0.0,40023.0,23469.0,3500.0,27523.0,0,0
7,10000.0,0.1557,349.46,2,66000.0,1,2,1,0,9.00,...,100.0,16.7,0.0,0.0,29300.0,22377.0,8400.0,12500.0,0,0
8,14000.0,0.0881,443.96,3,45000.0,0,2,1,0,10.24,...,100.0,0.0,0.0,0.0,25100.0,9724.0,12100.0,3000.0,0,0
9,10000.0,0.1474,345.39,3,63295.0,2,2,1,0,39.34,...,97.2,71.4,0.0,0.0,119822.0,102924.0,15300.0,80722.0,0,0
10,8500.0,0.0819,267.11,3,75000.0,0,2,1,0,17.31,...,100.0,0.0,0.0,0.0,75000.0,57756.0,18000.0,57000.0,0,0
11,10000.0,0.1171,330.76,3,54000.0,0,2,1,0,21.49,...,100.0,0.0,0.0,0.0,152500.0,42343.0,85000.0,65500.0,0,0
12,30000.0,0.1033,642.30,1,100000.0,1,2,1,0,8.00,...,100.0,0.0,0.0,0.0,50200.0,17323.0,29200.0,20000.0,0,0
13,15800.0,0.1640,387.60,1,62000.0,1,2,1,0,8.44,...,100.0,50.0,0.0,0.0,195700.0,18726.0,15900.0,4100.0,0,0
14,18000.0,0.1557,433.63,1,60000.0,2,2,1,0,62.80,...,100.0,25.0,0.0,0.0,196496.0,170509.0,10200.0,73796.0,0,0
15,40000.0,0.2250,1537.99,1,54000.0,2,2,1,0,59.09,...,100.0,100.0,0.0,0.0,123858.0,107194.0,19100.0,64858.0,0,0
16,14400.0,0.1390,491.46,3,100350.0,1,2,1,0,30.42,...,98.1,7.7,1.0,0.0,156028.0,104873.0,49000.0,88928.0,0,0
17,9600.0,0.0881,304.43,3,92000.0,0,2,1,0,20.01,...,76.2,100.0,0.0,0.0,58335.0,43218.0,6300.0,46535.0,0,0
18,16000.0,0.1719,399.28,1,72500.0,1,2,1,0,17.00,...,100.0,50.0,0.0,0.0,217738.0,52114.0,8500.0,49727.0,0,0
19,20000.0,0.0756,622.68,3,175000.0,0,2,1,0,11.28,...,93.8,75.0,0.0,0.0,84966.0,65106.0,20500.0,55785.0,0,0
20,28000.0,0.1797,710.56,3,85000.0,2,2,1,0,20.19,...,86.7,100.0,0.0,0.0,67437.0,37188.0,3500.0,48137.0,0,0
21,7500.0,0.0646,229.74,3,57500.0,0,2,1,0,11.52,...,84.6,0.0,1.0,0.0,21973.0,11361.0,12800.0,5973.0,0,0
22,19000.0,0.1033,406.79,1,38700.0,1,2,1,0,20.56,...,91.7,0.0,0.0,0.0,123125.0,25953.0,8000.0,32125.0,0,0
23,30000.0,0.0756,934.02,1,66600.0,0,2,1,0,11.77,...,94.4,11.1,0.0,0.0,182632.0,50731.0,54900.0,16562.0,0,0
24,13975.0,0.1640,342.83,3,67000.0,2,2,1,0,13.04,...,100.0,100.0,0.0,0.0,545200.0,12322.0,9600.0,9200.0,0,0
25,40000.0,0.1171,883.93,1,79000.0,2,2,1,0,21.89,...,97.8,55.6,0.0,0.0,520784.0,111899.0,76700.0,71224.0,0,0
26,7500.0,0.0702,231.65,3,80000.0,0,2,1,0,15.17,...,94.1,0.0,0.0,0.0,59555.0,46220.0,3000.0,53555.0,0,0
27,39475.0,0.1308,899.80,3,100000.0,1,2,1,0,21.30,...,100.0,66.7,0.0,0.0,130842.0,65545.0,13000.0,82542.0,0,0
28,35000.0,0.0702,1081.02,2,50000.0,0,2,1,0,38.93,...,90.5,50.0,0.0,0.0,135831.0,68399.0,32100.0,85531.0,0,0
29,7200.0,0.1557,251.61,1,130000.0,1,2,1,0,22.33,...,98.1,50.0,0.0,0.0,588300.0,73722.0,63000.0,21000.0,0,0
30,4000.0,0.0881,126.85,3,65000.0,0,2,1,0,16.89,...,100.0,50.0,0.0,0.0,66471.0,34860.0,16100.0,50371.0,0,0
31,28000.0,0.0819,879.88,3,150000.0,0,2,1,0,14.84,...,100.0,33.3,0.0,0.0,121686.0,44957.0,56900.0,40948.0,0,0
32,10000.0,0.0646,306.31,3,309600.0,1,2,1,0,5.06,...,95.0,75.0,0.0,0.0,80774.0,56383.0,12100.0,50774.0,0,0
33,8000.0,0.1719,285.98,3,110000.0,0,2,1,0,8.40,...,85.7,50.0,0.0,0.0,28200.0,18789.0,15000.0,13200.0,0,0
34,7700.0,0.1240,257.23,1,52000.0,2,2,1,0,17.89,...,95.2,0.0,0.0,0.0,345525.0,17804.0,10100.0,29125.0,0,0
35,35000.0,0.2000,927.29,3,90000.0,1,2,1,0,21.79,...,100.0,23.1,0.0,0.0,142409.0,87967.0,38800.0,81574.0,0,0
36,25000.0,0.1797,903.44,1,103000.0,2,2,1,0,24.98,...,96.6,44.4,0.0,0.0,147699.0,71140.0,106300.0,11799.0,0,0
37,20000.0,0.1640,490.63,1,65000.0,1,2,1,0,15.60,...,100.0,25.0,1.0,0.0,296678.0,39974.0,29900.0,23378.0,0,0
38,21000.0,0.1102,456.81,3,110000.0,0,2,1,0,19.32,...,100.0,0.0,0.0,0.0,113549.0,80433.0,18400.0,82549.0,0,0
39,8000.0,0.1640,282.84,2,49000.0,1,2,1,0,30.08,...,85.7,50.0,0.0,0.0,82936.0,51000.0,6700.0,68636.0,0,0
40,4800.0,0.0819,150.84,3,44000.0,1,2,1,0,17.29,...,100.0,0.0,0.0,0.0,48245.0,18388.0,21000.0,23245.0,0,0
41,27000.0,0.1240,606.08,3,70000.0,1,2,1,0,4.59,...,100.0,0.0,0.0,0.0,42300.0,8246.0,17300.0,7000.0,0,0
42,30000.0,0.2000,794.82,1,144000.0,0,2,1,0,11.55,...,100.0,12.5,1.0,0.0,358812.0,46902.0,34000.0,20612.0,0,0
43,25000.0,0.1390,853.23,1,100000.0,0,2,1,0,12.43,...,89.7,50.0,0.0,0.0,176667.0,44638.0,13400.0,28367.0,0,0
44,8000.0,0.0646,245.05,1,90000.0,0,2,1,0,24.60,...,100.0,0.0,0.0,0.0,523124.0,106234.0,37000.0,122928.0,0,0
45,20000.0,0.0819,628.49,1,150000.0,1,2,1,0,15.52,...,86.4,20.0,0.0,0.0,411219.0,102152.0,34000.0,106371.0,0,0
46,13000.0,0.1390,443.68,3,105000.0,0,2,1,0,7.05,...,100.0,66.7,0.0,0.0,25900.0,19816.0,5300.0,15000.0,0,0
47,17000.0,0.0756,529.28,1,85000.0,1,2,1,0,35.01,...,92.3,66.7,0.0,0.0,254002.0,110581.0,14800.0,122125.0,0,0
48,10000.0,0.1797,361.38,2,200000.0,1,2,1,0,24.93,...,87.5,100.0,0.0,0.0,161977.0,109290.0,50200.0,102277.0,0,0
49,30000.0,0.1240,1002.18,1,130000.0,1,2,1,0,29.94,...,100.0,0.0,1.0,0.0,450101.0,425071.0,21900.0,425201.0,0,0

# Split the Data into Training and Testing

In [8]:
# Create our features
X = df.drop(columns=['loan_status'])

# Create our target
y = df['loan_status']

In [9]:
X.describe()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,dti,delinq_2yrs,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
count,68817.000000,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.0,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,1.812779,8.821371e+04,0.669994,0.805542,0.0,21.778153,0.217766,...,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04,0.0,0.0
std,10277.348590,0.048130,288.062432,0.941313,1.155800e+05,0.719105,0.714932,0.0,20.199244,0.718367,...,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04,0.0,0.0
min,1000.000000,0.060000,30.890000,0.000000,4.000000e+01,0.000000,0.000000,0.0,0.000000,0.000000,...,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02,0.0,0.0
25%,9000.000000,0.088100,265.730000,1.000000,5.000000e+04,0.000000,0.000000,0.0,13.890000,0.000000,...,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04,0.0,0.0
50%,15000.000000,0.118000,404.560000,1.000000,7.300000e+04,1.000000,1.000000,0.0,19.760000,0.000000,...,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04,0.0,0.0
75%,24000.000000,0.155700,648.100000,3.000000,1.040000e+05,1.000000,1.000000,0.0,26.660000,0.000000,...,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04,0.0,0.0
max,40000.000000,0.308400,1676.230000,3.000000,8.797500e+06,2.000000,2.000000,0.0,999.000000,18.000000,...,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06,0.0,0.0

In [10]:
# Check the balance of our target values
y.value_counts()

1    68470
0      347
Name: loan_status, dtype: int64

In [11]:
# Create X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({1: 51366, 0: 246})

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [12]:
# Resample the training data with the RandomOversampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({1: 51366, 0: 51366})

In [13]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [14]:
# Test Regerssion
y_pred = model.predict(X_test)

In [15]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.6886105618279321

In [16]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   75,    26],
       [ 6249, 10855]])

In [17]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.74      0.63      0.02      0.69      0.48       101
          1       1.00      0.63      0.74      0.78      0.69      0.47     17104

avg / total       0.99      0.64      0.74      0.77      0.69      0.47     17205

### SMOTE Oversampling

In [18]:
# Resample the training data with SMOTE
X_resampled, y_resampled = SMOTE(random_state=1).fit_resample(
    X_train, y_train
)
Counter(y_resampled)

Counter({1: 51366, 0: 51366})

In [19]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [20]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.66029948411118

In [21]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   65,    36],
       [ 5524, 11580]])

In [22]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.64      0.68      0.02      0.66      0.43       101
          1       1.00      0.68      0.64      0.81      0.66      0.44     17104

avg / total       0.99      0.68      0.64      0.80      0.66      0.44     17205

# Undersampling

In this section, you will test an undersampling algorithms to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [23]:
# Resample the data using the ClusterCentroids resampler
cc = ClusterCentroids(random_state=1)
X_resampled, y_resampled = cc.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 246, 1: 246})

In [24]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=78)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=78)

In [25]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.5346766201409664

In [26]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   67,    34],
       [10160,  6944]])

In [27]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.66      0.41      0.01      0.52      0.28       101
          1       1.00      0.41      0.66      0.58      0.52      0.26     17104

avg / total       0.99      0.41      0.66      0.57      0.52      0.26     17205

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [28]:
# Resample the training data with SMOTEENN
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
Counter(y_resampled)

Counter({0: 68460, 1: 62011})

In [29]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [30]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6557617232724208

In [31]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   73,    28],
       [ 7034, 10070]])

In [32]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.72      0.59      0.02      0.65      0.43       101
          1       1.00      0.59      0.72      0.74      0.65      0.42     17104

avg / total       0.99      0.59      0.72      0.74      0.65      0.42     17205